<nav class="bg-rose-900 p-4">
    <div class="container mx-auto flex items-center justify-between">
        <a href="#" class="text-white font-bold text-xl">Secretaría de Educación del Estado de Zacatecas</a>
        <ul class="flex space-x-4">
            <li><a href="#inicio" class="text-white hover:text-black">Inicio</a></li>
            <li><a href="#alumnos" class="text-white hover:text-black">Alumnos</a></li>
            <li><a href="#docentes" class="text-white hover:text-black">Docentes</a></li>
            <li><a href="#aplicaciones" class="text-white hover:text-black">Aplicaciones</a></li>
        </ul>
    </div>
</nav>